<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-action">
    <div class="container">
        <h3>Danh Sách Khoá Học Của Tôi</h3>
        <a href="/me/trash/courses"> <span class="oi oi-trash"></span>
            ({{deleteCount}})
        </a>
        <div class="d-flex align-items-center ">
            <div class="form-check  ">
                <input class="form-check-input" type="checkbox" id="checbox-course-All">
                <label class="form-check-label" for="checbox-course-All">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-select form-control-sm select-check  " aria-label=".form-select-lg example"
                name="action" required>
                <option value="">-- Lựa chọn --</option>
                <option value="delete">Xóa</option>
            </select>
            {{!-- <button disabled> Thực hiện</button> --}}
            <button class="btn btn-primary btn-sm   perform-course-checkbox-btn" disabled="disabled"> Thuc
                hien</button>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="2">#</th>
                    <th scope="col">
                        Tên khóa học
                        {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col">
                        Trình độ
                        {{{sortable 'level' _sort}}}
                    </th>
                    <th scope="col" colspan="2">
                        Thời gian tạo
                        {{{sortable 'createAt' _sort}}}
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each course}}
                <tr>
                    <td>
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" name='courseIds' value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a class="btn btn-link" href="/courses/{{this._id}}/edit">
                            Edit
                        </a>
                        <a class="btn btn-link" data-id="{{this._id}}" href="" data-toggle="modal"
                            data-target="#delete-course">
                            Delete
                        </a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">Hiện chưa có khóa học nào được thêm.
                        <a href="/courses/AddNew">Thêm khóa
                            học</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>
{{!-- form-delete-course --}}
<form method="POST" name="form-delete-course"></form>
{{!-- confirm delete bst --}}
<div id="delete-course" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>bạn có muốn xóa</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="delete-course-click">xóa khóa học</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var couseId;
        var deleteForms = document.forms['form-delete-course'];
        var formContainer = document.forms['container-form'];
        var deleteClick = document.getElementById('delete-course-click');
        var checkboxAll = $('#checbox-course-All');
        var courseItemsCheckbox = $('input[name="courseIds"]'); //lấy thuộc tính bằng jquery
        var performCheckboxBtn = $('.perform-course-checkbox-btn');
        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            couseId = button.data('id')
            console.log(couseId)
        })
        deleteClick.onclick = function () {
            deleteForms.action = '/courses/' + couseId + '?_method=delete';
            deleteForms.submit();
        }
        //checkbox all change
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked'); //lấy element click vào
            courseItemsCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
            //if (isCheckedAll) {
            //    courseItemsCheckbox.prop('checked', true);
            // }
            // else {
            //     courseItemsCheckbox.prop('checked', false);
            // }
        })
        //course item checkbox change
        courseItemsCheckbox.change(function () {
            var isCheckedAll1 = courseItemsCheckbox.length === $('input[name="courseIds"]:checked').length
            checkboxAll.prop('checked', isCheckedAll1)
            renderCheckAllSubmitBtn()
        })
        //checkall submit button 

        /* performCheckboxBtn.on('submit', function (e) {
                    var isSubmitable = !$(this).hasClass('disabled'); //khi có >0 lựa chọn thì mới có quyền submit
                    if (!isSubmitable) {
                        e.preventDefault(); //khi không đủ dk submit thì hủy bỏ hành vi mặt định
                    }
                });*/
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds"]:checked').length;
            if (checkedCount > 0) {
                performCheckboxBtn.attr('disabled', false);
            }
            else {
                performCheckboxBtn.attr('disabled', true)
            }
        }
    })
</script>